[Unit]
Description=Generates and uploads new AllSky timelapse

[Service]
ExecStart=/usr/bin/docker run --rm -v /media/allsky:/media/allsky -t allsky-timelapse
Type=oneshot
